// Colors
$darkGrey:    #333;
$lighterGrey: #999;
$lightGrey:   #ccc;

$basic-black:          #000000 !default; // rgb(000, 000, 000)
$basic-white:          #ffffff !default; // rgb(255, 255, 255)
$basic-black-dark:     #1F1E1C !default; // rgb(31, 30, 28);
$basic-white-dark:     #F1EFED !default; // rgb(241, 239, 237);
$primary-base-dark:    #D03D12;

$shade-darkest:        #2F2D2B !default; // rgb(047, 045, 043)
$shade-darker:         #5C5A58 !default; // rgb(092, 090, 088)
$shade-dark:           #807E7C !default; // rgb(128, 126, 124)
$shade-base:           #989694 !default; // rgb(152, 150, 148)
$shade-light:          #BBB9B7 !default; // rgb(187, 185, 183)
$shade-lighter:        #DDDBD9 !default; // rgb(221, 219, 217)
$shade-lightest:       #F1EFED !default; // rgb(241, 239, 237)
$primary-darker:       #811D00 !default; // rgb(129, 029, 000)
$primary-dark:         #C12B00 !default; // rgb(193, 043, 000)
$primary-base:         #E64415 !default; // rgb(230, 068, 021)
$primary-lighter:      #EEC2B5 !default; // rgb(238, 194, 181)
$secondary-1-lighter:  #B7DED1 !default; // rgb(183, 222, 209)
$secondary-2-darker:   #1A3A4A !default; // rgb(026, 058, 074)
$secondary-2-dark:     #235973 !default; // rgb(035, 089, 115)
$secondary-2-lightest: #E9F1F5 !default; // rgb(233, 241, 245)
$special-positive:     #3CC83C !default; // rgb(060, 200, 060)
$special-attention:    #FFE646 !default; // rgb(255, 230, 070)
$special-negative:     #DC3E0F !default; // rgb(220, 062, 015)
$special-bento:        #BAF5E7 !default; // rgb(186, 245, 231)

$shade-darker-dark: #DDDBD9;
$shade-dark-dark:   #BBB9B7;
$shade-base-dark:   #BBB9B7;
$shade-darker:      #5C5A58;
$shade-lighter:     #DDDBD9;
$shade-lightest:    #F1EFED;